header {
    background-color: #0B1C51;
}
h1 {
    font-size: 52px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    margin: 0;
}
header nav {
    display: flex;
    justify-content: center;
    margin: 0;
}
header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}
header nav ul a {
    text-decoration: none;
    padding: 15px;
    font-family: Montserrat;
    color: #fff;
    font-size: 18px;
}

@media all and (min-width: 800px) {
header {
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
}
header nav {
    display: flex;
    padding-top: 15px;
}
h1 {
    padding-top: 10px;
    padding-bottom: 5px;
}
}
